
body{
    overflow-x: hidden;
}

.font{
    font-size: 1rem;
    color: rgb(250, 246, 241);
    font-weight: 500;
    margin-left: 2rem;

}




#pic{
   width: 60px;
}
.font2{
    color: white;
}

.back4{
    background-color: rgb(88, 82, 82);
}
.back1{
    background-color: rgb(155, 150, 142);
}
@keyframes glowing2 {
    0% { color: #85b48c; text-shadow: 0 0 10px #b2ba7a; }
    50% { color: rgb(21, 21, 21); text-shadow: 0 0 20px rgb(41, 40, 40); }
    100% { color: #aca7a9; text-shadow: 0 0 10px #b709f1; } }